@import "styling";

.provisioning {

  .search-form {
    width: calc(60% - 20px);
    display: inline-block;
  }

  .filter-form {
    width: 40%;
    margin-left: 20px;
    display: inline-block;
  }
}
