<div class="provisioning">
  <div class="content-box summary-box">
    <div class="summary">
      <span class="content-box-header-txt">Summary Provisioning</span>

      <div class="summary-info-box">
        <div class="summary-info-box-inner">
          <div class="summary-info-header">
            <span>Newly Acquired NE</span>
            <button type="button" class="button-nostyle" (click)="goDetail()">
              <i class="far fa-arrow-alt-circle-right "></i>
            </button>
          </div>

          <div class="summary-data">
            <span class="data-count">142</span>
            <span class="data-text">Yesterday</span>
          </div>

          <div class="summary-data">
            <span class="data-count">237</span>
            <span class="data-text">Today</span>
          </div>
        </div>
      </div>

      <div class="summary-info-box">
        <div class="summary-info-box-inner">
          <div class="summary-info-header">
            <span>Newly Acquired NE</span>
            <button type="button" class="button-nostyle" (click)="goDetail()">
              <i class="far fa-arrow-alt-circle-right "></i>
            </button>
          </div>

          <div class="summary-data">
            <span class="data-count">142</span>
            <span class="data-text">Yesterday</span>
          </div>

          <div class="summary-data">
            <span class="data-count">237</span>
            <span class="data-text">Today</span>
          </div>
        </div>
      </div>

      <div class="summary-info-box">
        <div class="summary-info-box-inner">
          <div class="summary-info-header">
            <span>Newly Acquired NE</span>
            <button type="button" class="button-nostyle" (click)="goDetail()">
              <i class="far fa-arrow-alt-circle-right"></i>
            </button>
          </div>

          <div class="summary-data">
            <span class="data-count">142</span>
            <span class="data-text">Yesterday</span>
          </div>

          <div class="summary-data">
            <span class="data-count">237</span>
            <span class="data-text">Today</span>
          </div>
        </div>
      </div>

      <div class="summary-info-box">
        <div class="summary-info-box-inner">
          <div class="summary-info-header">
            <span>Newly Acquired NE</span>
            <button type="button" class="button-nostyle" (click)="goDetail()">
              <i class="far fa-arrow-alt-circle-right "></i>
            </button>
          </div>

          <div class="summary-data">
            <span class="data-count">142</span>
            <span class="data-text">Yesterday</span>
          </div>

          <div class="summary-data">
            <span class="data-count">237</span>
            <span class="data-text">Today</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-box">
    <span class="content-box-header-txt">Network Element List</span>

    <form class="search-form" [formGroup]="searchForm" (ngSubmit)="search()">
      <div class="form-group">
        <div class="input-fancy">
          <input formControlName="search" type="text" class="form-control" placeholder="Search...">
          <button type="submit" class="button-nostyle side-button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <form class="filter-form" [formGroup]="filterForm" (ngSubmit)="filter()">
      <div class="form-group">
        <div class="input-fancy">
          <input formControlName="filter" type="text" class="form-control" placeholder="Filter">
          <button type="submit" class="button-nostyle side-button">
            <i class="fas fa-filter"></i>
          </button>
        </div>
      </div>
    </form>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
