<div class="dashboard">
  <div class="content-box summary-box">
    <div class="summary">
      <span class="content-box-header-txt">Summary Provisioning Activity</span>

      <div class="summary-info-box">
        <div class="summary-info-box-inner">
          <div class="summary-info-header">
            <span>Newly Acquired NE</span>
            <button type="button" class="button-nostyle" (click)="goDetail()">
              <i class="far fa-arrow-alt-circle-right "></i>
            </button>
          </div>

          <div class="summary-data">
            <span class="data-count">142</span>
            <span class="data-text">Yesterday</span>
          </div>

          <div class="summary-data">
            <span class="data-count">237</span>
            <span class="data-text">Today</span>
          </div>
        </div>
      </div>

      <div class="summary-info-box">
        <div class="summary-info-box-inner">
          <div class="summary-info-header">
            <span>Newly Acquired NE</span>
            <button type="button" class="button-nostyle" (click)="goDetail()">
              <i class="far fa-arrow-alt-circle-right "></i>
            </button>
          </div>

          <div class="summary-data">
            <span class="data-count">142</span>
            <span class="data-text">Yesterday</span>
          </div>

          <div class="summary-data">
            <span class="data-count">237</span>
            <span class="data-text">Today</span>
          </div>
        </div>
      </div>
    </div>

    <div class="summary">
      <span class="content-box-header-txt">Summary Network Element</span>

      <div class="summary-info-box">
        <div class="summary-info-box-inner">
          <div class="summary-info-header">
            <span>Newly Acquired NE</span>
            <button type="button" class="button-nostyle" (click)="goDetail()">
              <i class="far fa-arrow-alt-circle-right "></i>
            </button>
          </div>

          <div class="summary-data">
            <span class="data-count">142</span>
            <span class="data-text">Yesterday</span>
          </div>

          <div class="summary-data">
            <span class="data-count">237</span>
            <span class="data-text">Today</span>
          </div>
        </div>
      </div>

      <div class="summary-info-box">
        <div class="summary-info-box-inner">
          <div class="summary-info-header">
            <span>Newly Acquired NE</span>
            <button type="button" class="button-nostyle" (click)="goDetail()">
              <i class="far fa-arrow-alt-circle-right "></i>
            </button>
          </div>

          <div class="summary-data">
            <span class="data-count">142</span>
            <span class="data-text">Yesterday</span>
          </div>

          <div class="summary-data">
            <span class="data-count">237</span>
            <span class="data-text">Today</span>
          </div>
        </div>
      </div>

      <div class="summary-info-box">
        <div class="summary-info-box-inner">
          <div class="summary-info-header">
            <span>Newly Acquired NE</span>
            <button type="button" class="button-nostyle" (click)="goDetail()">
              <i class="far fa-arrow-alt-circle-right "></i>
            </button>
          </div>

          <div class="summary-data">
            <span class="data-count">142</span>
            <span class="data-text">Yesterday</span>
          </div>

          <div class="summary-data">
            <span class="data-count">237</span>
            <span class="data-text">Today</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-box summary-box">
    <div class="summary">
      <span class="content-box-header-txt">Summary License</span>

      <div class="summary-info-box">
        <div class="summary-info-box-inner">
          <div class="summary-info-header">
            <span>Newly Acquired NE</span>
            <button type="button" class="button-nostyle" (click)="goDetail()">
              <i class="far fa-arrow-alt-circle-right "></i>
            </button>
          </div>

          <div class="summary-data">
            <span class="data-count">142</span>
            <span class="data-text">Yesterday</span>
          </div>

          <div class="summary-data">
            <span class="data-count">237</span>
            <span class="data-text">Today</span>
          </div>
        </div>
      </div>

      <div class="summary-info-box">
        <div class="summary-info-box-inner">
          <div class="summary-info-header">
            <span>Newly Acquired NE</span>
            <button type="button" class="button-nostyle" (click)="goDetail()">
              <i class="far fa-arrow-alt-circle-right "></i>
            </button>
          </div>

          <div class="summary-data">
            <span class="data-count">142</span>
            <span class="data-text">Yesterday</span>
          </div>

          <div class="summary-data">
            <span class="data-count">237</span>
            <span class="data-text">Today</span>
          </div>
        </div>
      </div>
    </div>

    <div class="summary">
      <span class="content-box-header-txt">Summary Configuration Data</span>

      <div class="summary-info-box">
        <div class="summary-info-box-inner">
          <div class="summary-info-header">
            <span>Newly Acquired NE</span>
            <button type="button" class="button-nostyle" (click)="goDetail()">
              <i class="far fa-arrow-alt-circle-right "></i>
            </button>
          </div>

          <div class="summary-data">
            <span class="data-count">142</span>
            <span class="data-text">Yesterday</span>
          </div>

          <div class="summary-data">
            <span class="data-count">237</span>
            <span class="data-text">Today</span>
          </div>
        </div>
      </div>

      <div class="summary-info-box">
        <div class="summary-info-box-inner">
          <div class="summary-info-header">
            <span>Newly Acquired NE</span>
            <button type="button" class="button-nostyle" (click)="goDetail()">
              <i class="far fa-arrow-alt-circle-right "></i>
            </button>
          </div>

          <div class="summary-data">
            <span class="data-count">142</span>
            <span class="data-text">Yesterday</span>
          </div>

          <div class="summary-data">
            <span class="data-count">237</span>
            <span class="data-text">Today</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-box summary-box">
    <div class="summary">
      <span class="content-box-header-txt">Summary Inventory</span>

      <div class="summary-info-box">
        <div class="summary-info-box-inner">
          <div class="summary-info-header">
            <span>Newly Acquired NE</span>
            <button type="button" class="button-nostyle" (click)="goDetail()">
              <i class="far fa-arrow-alt-circle-right "></i>
            </button>
          </div>

          <div class="summary-data">
            <span class="data-count">142</span>
            <span class="data-text">Yesterday</span>
          </div>

          <div class="summary-data">
            <span class="data-count">237</span>
            <span class="data-text">Today</span>
          </div>
        </div>
      </div>

      <div class="summary-info-box">
        <div class="summary-info-box-inner">
          <div class="summary-info-header">
            <span>Newly Acquired NE</span>
            <button type="button" class="button-nostyle" (click)="goDetail()">
              <i class="far fa-arrow-alt-circle-right "></i>
            </button>
          </div>

          <div class="summary-data">
            <span class="data-count">142</span>
            <span class="data-text">Yesterday</span>
          </div>

          <div class="summary-data">
            <span class="data-count">237</span>
            <span class="data-text">Today</span>
          </div>
        </div>
      </div>
    </div>

    <div class="summary">
      <span class="content-box-header-txt">Summary EMS</span>

      <div class="summary-info-box">
        <div class="summary-info-box-inner">
          <div class="summary-info-header">
            <span>Newly Acquired NE</span>
            <button type="button" class="button-nostyle" (click)="goDetail()">
              <i class="far fa-arrow-alt-circle-right "></i>
            </button>
          </div>

          <div class="summary-data">
            <span class="data-count">142</span>
            <span class="data-text">Yesterday</span>
          </div>

          <div class="summary-data">
            <span class="data-count">237</span>
            <span class="data-text">Today</span>
          </div>
        </div>
      </div>

      <div class="summary-info-box">
        <div class="summary-info-box-inner">
          <div class="summary-info-header">
            <span>Newly Acquired NE</span>
            <button type="button" class="button-nostyle" (click)="goDetail()">
              <i class="far fa-arrow-alt-circle-right "></i>
            </button>
          </div>

          <div class="summary-data">
            <span class="data-count">142</span>
            <span class="data-text">Yesterday</span>
          </div>

          <div class="summary-data">
            <span class="data-count">237</span>
            <span class="data-text">Today</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
