@import "styling";

.header-bar {
  background: $color-darkblack;
  height: 65px;
  margin: 0;

  position: relative;
  display: flex;
  align-items: center;

  color: white;
  box-shadow: 0px 2px 5px 0px grey;

  .header-bar-logo {
    width: 150px;
    padding-left: 10px;

    .img {
      width: 110px;
    }
  }

  .header-bar-text {
    padding-left: 20px;

    .txt {
      font-weight: bold;
    }
  }

  .header-bar-account {
    position: absolute;
    right: 80px;
    font-weight: bold;

    display: flex;
    align-items: center;

    .account-name,
    .account-img,
    .btn-logout {
      display: inline-block;
    }

    .account-img {
      margin: 0 10px;
    }

    .btn-logout {
      font-weight: bold;
      color: white;
    }
  }
}
