<div class="header-bar">
  <div class="header-bar-logo">
    <img class="img" src="assets/images/RANPG.png" alt="ranpg-logo">
  </div>

  <div class="header-bar-text">
    <span class="txt">Radio Access Network Provisioning Gateway</span>
  </div>

  <div class="header-bar-account">
    <div class="account-name">
      <span>Hello, Randa</span>
    </div>

    <button type="button" class="button-nostyle" (click)="accountSetting()">
      <img class="account-img" src="assets/images/profile-img.png" alt="">
    </button>

    <button type="button" (click)="doLogOut()" class="button-nostyle btn-logout">Logout</button>
  </div>
</div>
