@import "styling";

.login-wrapper {
  color: black;

  margin-top: 50px;
  margin-bottom: 50px;

  .login-header {
    margin-bottom: 50px;

    .login-header-img {
      margin-bottom: 15px;

      .ranpg-img {
        width: 100%;
        max-width: 200px;
      }
    }

    .login-header-txt {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  .login-form {
    max-width: 280px;
    margin: 0 auto;
    font-size: 0.9rem;
    font-weight: bold;

    .password-cont {
      position: relative;


      .icon-btn {
        position: absolute;
        right: 8px;
        top: 8px;
        outline: none;
        background: none;
        border: none;

        .fa-eye-slash {
          color: lighten($color-lightblack, 50%);
        }
      }
    }

    .reload-icon-cont {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .reload-icon {
        cursor: pointer;
        width: 20px;

        &.rotate {
          animation: rotate 0.5s infinite linear;
        }
      }
    }

    .btn-login {
      background-color: $color-lightblack;
      color: white;
      font-weight: bold;

      &:hover {
        background-color: lighten($color-lightblack, 10%);
      }

      &:focus {
        outline: none;
      }
    }

  }

  @keyframes rotate {
    from {
      -webkit-transform: rotate(0deg)
    }

    to {
      -webkit-transform: rotate(359deg)
    }
  }
}
