<section class="login-wrapper container">
  <div class="login-header">
    <div class="login-header-img col-12 text-center">
      <img class="ranpg-img" src="assets/images/RANPG-login.png" alt="ranpg-logo">
    </div>
    <div class="login-header-txt col-12 text-center">
      <span class="header-txt">Radio Access Network Provisioning Gateway</span>
    </div>
  </div>

  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <div class="form-group">
      <label for="input-username">Username</label>
      <input formControlName="email" type="email" class="form-control" id="input-username"
        placeholder="Enter your username">
    </div>
    <div class="form-group">
      <label for="input-password">Password:</label>
      <div class="password-cont">
        <input formControlName="password" [type]="passwordVisibility" class="form-control" id="input-password"
          placeholder="Password">
        <button type="button" class="icon-btn button-nostyle" (click)="toggleVisibility()">
          <i class="fas" [ngClass]="visibilityStatus ? 'fa-eye' : 'fa-eye-slash'"></i>
        </button>
      </div>
    </div>
    <div class="form-group row" style="margin: 0; margin-top: 30px; margin-bottom: 10px;">
      <input type="text" class="form-control col-10" id="captcha" placeholder="CAPTCHAAA">
      <div class="reload-icon-cont col-2">
        <button type="button" class="button-nostyle" (click)="reloadCaptcha()">
          <img [ngClass]="{'rotate': rotateStatus}" class="reload-icon" src="assets/images/reload.png"
            alt="reload-icon">
        </button>
      </div>
    </div>
    <div class="form-group" style="margin-bottom: 35px;">
      <label for="input-captcha">Enter code:</label>
      <input formControlName="captcha" type="text" class="form-control" id="input-captcha" placeholder="Enter the code">
    </div>
    <button type="submit" class="btn btn-block btn-login">LOGIN</button>
  </form>
</section>
