a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: Visby;
  font-size: 1em;

  &:focus {
    outline: none !important;
  }
}

.button-nostyle {
  outline: none;
  background: none;
  border: none;
  padding: 0;
}
