$color-red: #DB1530;
$color-greybg: #F8F8F8;
$color-greylightbg: #F7F7F7;
$color-greyshadow: #d9d9d9;
$color-lightblack: #292734;
$color-darkblack: #211F2C;
$color-greyline: #4B456E;
$color-blue: #1C9CE0;
$color-blueborder: #2199B2;
