.content-box {
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-bottom: 25px;

  background: white;
  border-radius: 3px;
  border: 1px solid white;
  box-shadow: 4px 4px 4px 0px $color-greyshadow;
}

.content-box-header-txt {
  font-family: Visby-ExtraBold;
  display: block;
}

.summary-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .summary {
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    .content-box-header-txt {
      width: 100%;
      padding-bottom: 25px;
      padding-left: 10px;
    }

    .summary-info-box {
      height: 100%;
      background: $color-lightblack;
      border-radius: 3px;
      box-shadow: 0px 2px 2px 0px $color-greyshadow;
      display: inline-block;
      margin: 10px;


      .summary-info-box-inner {
        background: $color-greylightbg;
        border-radius: 3px 0px 0px 3px;
        border: 1px solid white;
        box-shadow: -2px 2px 2px 0px $color-greyshadow;
        margin-right: 10px;
        padding: 10px;

        .summary-info-header {
          font-family: Visby-Bold;
          font-size: 0.85em;
          margin-bottom: 5px;

          button {
            margin-left: 12px;
          }
        }

        .summary-data {
          display: inline-block;
          margin-right: 20px;

          &:last-child {
            margin: 0;
          }

          .data-count {
            display: block;
            font-size: 2em;
            font-family: Visby-ExtraBold;
            line-height: 1;
          }

          .data-text {
            display: block;
            font-size: 0.8em;
          }
        }
      }
    }
  }

}
