@font-face {
  font-family: 'Visby';
  src: url('/assets/fonts/visby_round/VisbyRoundCF-Regular.eot'),
    url('/assets/fonts/visby_round/VisbyRoundCF-Regular.woff'),
    url('/assets/fonts/visby_round/VisbyRoundCF-Regular.woff2');
}

@font-face {
  font-family: 'Visby-Bold';
  src: url('/assets/fonts/visby_round/VisbyRoundCF-Bold.eot'),
    url('/assets/fonts/visby_round/VisbyRoundCF-Bold.woff'),
    url('/assets/fonts/visby_round/VisbyRoundCF-Bold.woff2');
}

@font-face {
  font-family: 'Visby-ExtraBold';
  src: url('/assets/fonts/visby_round/VisbyRoundCF-ExtraBold.eot'),
    url('/assets/fonts/visby_round/VisbyRoundCF-ExtraBold.woff'),
    url('/assets/fonts/visby_round/VisbyRoundCF-ExtraBold.woff2');
}
