.form-control {
  border-color: $color-blueborder;
}

.input-fancy {
  position: relative;

  .side-button {
    width: 35px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 0 0.25rem 0.25rem 0;

    background: $color-blue;
    color: white;

    // font-size: 1.35em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
