@font-face {
  font-family: 'Visby';
  src: url('/assets/fonts/visby_round/VisbyRoundCF-Regular.eot'),
    url('/assets/fonts/visby_round/VisbyRoundCF-Regular.woff'),
    url('/assets/fonts/visby_round/VisbyRoundCF-Regular.woff2');
}

@font-face {
  font-family: 'Visby-Bold';
  src: url('/assets/fonts/visby_round/VisbyRoundCF-Bold.eot'),
    url('/assets/fonts/visby_round/VisbyRoundCF-Bold.woff'),
    url('/assets/fonts/visby_round/VisbyRoundCF-Bold.woff2');
}

@font-face {
  font-family: 'Visby-ExtraBold';
  src: url('/assets/fonts/visby_round/VisbyRoundCF-ExtraBold.eot'),
    url('/assets/fonts/visby_round/VisbyRoundCF-ExtraBold.woff'),
    url('/assets/fonts/visby_round/VisbyRoundCF-ExtraBold.woff2');
}

.card {
  position: relative;
  font-size: 14px;
  font-family: Visby;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px 0px #D9D9D9;
  border-radius: 3px;

  .card-title {
    font-family: Visby-ExtraBold;
    display: block;
    margin: 30px 20px 15px 20px;
  }

  .card-top-block {
    margin: 0 20px;

    .input-box {
      position: relative;

      .form-control {
        border-color: #2199B2;
      }

      .custom-buttom {
        font-family: Visby;
        font-size: 1rem;

        outline: none;
        background: none;
        border: none;
        padding: 0;

        &:focus {
          outline: none !important;
        }
      }

      .side-button {
        width: 35px;
        height: 100%;
        position: absolute;
        right: 0px;
        top: 0px;
        border-radius: 0 0.25rem 0.25rem 0;

        background: #1C9CE0;
        color: white;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .search-box {
      width: calc(60% - 20px);
      display: inline-block;
    }

    .filter-box {
      width: 40%;
      margin-left: 20px;
      display: inline-block;
    }
  }

  .card-btm-block {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;

    .item {
      width: 100%;
      max-width: 165px;
      min-height: 200px;
      border: 1px solid #2199B2;
      border-radius: 3px;
      box-shadow: 4px 4px 4px 0px #D9D9D9;
      margin: 10px;
      display: inline-block;

      .item-title {
        padding: 10px 15px;
        border-radius: 3px;

        background: #F5F4F0;
        font-family: Visby-ExtraBold;
      }

      .item-detail {
        padding: 10px 15px;
        font-size: 12px;

        .item-detail-text {
          .top-text {
            font-family: Visby-Bold;
          }

          .btm-text {}
        }

      }

      .item-buttons {
        background: #F5F4F0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 5px;
        border-radius: 3px;

        .btn-outline-custom {
          font-size: 10px;
          font-family: Visby-Bold;
          padding: 5px;
          margin-right: 5px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .item-reload {
      outline: none;
      background: none;
      border: none;
      box-shadow: none;
      border: 2px dashed #2199B2;
      border-radius: 3px;
      padding: 10px;

      color: #2199B2;


      &:focus {
        outline: none !important;
      }

      .reload-icon {
        font-size: 32px;
        margin-bottom: 10px;
      }

      .load-text {
        font-size: 24px;
      }
    }
  }

}
