<div class="card">
  <div class="card-title">
    License List
  </div>

  <div class="card-top-block">
    <div class="input-box search-box">
      <input type="text" class="form-control" placeholder="Search...">
      <button type="submit" class="custom-buttom side-button">
        <i class="fas fa-search"></i>
      </button>
    </div>

    <div class="input-box filter-box">
      <input formControlName="filter" type="text" class="form-control" placeholder="Filter">
      <button type="submit" class="custom-buttom side-button">
        <i class="fas fa-arrow-alt-circle-down"></i>
      </button>
    </div>
  </div>

  <div class="card-btm-block">
    <div class="item">
      <div class="item-title">
        License Name Issued: 09 Mei 2019
      </div>

      <div class="item-detail">
        <div class="item-detail-text">
          <div class="top-text">
            Days to Expired:
          </div>
          <div class="btm-text">
            1 Year, 2 Months, 3 Days
          </div>
        </div>

        <div class="item-detail-text">
          <div class="top-text">
            Expired Date:
          </div>
          <div class="btm-text">
            20 June 2020
          </div>
        </div>
      </div>

      <div class="item-buttons">
        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          Get Update
        </button>

        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          View Details
        </button>
      </div>
    </div>

    <div class="item">
      <div class="item-title">
        License Name Issued: 09 Mei 2019
      </div>

      <div class="item-detail">
        <div class="item-detail-text">
          <div class="top-text">
            Days to Expired:
          </div>
          <div class="btm-text">
            1 Year, 2 Months, 3 Days
          </div>
        </div>

        <div class="item-detail-text">
          <div class="top-text">
            Expired Date:
          </div>
          <div class="btm-text">
            20 June 2020
          </div>
        </div>
      </div>

      <div class="item-buttons">
        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          Get Update
        </button>

        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          View Details
        </button>
      </div>
    </div>

    <div class="item">
      <div class="item-title">
        License Name Issued: 09 Mei 2019
      </div>

      <div class="item-detail">
        <div class="item-detail-text">
          <div class="top-text">
            Days to Expired:
          </div>
          <div class="btm-text">
            1 Year, 2 Months, 3 Days
          </div>
        </div>

        <div class="item-detail-text">
          <div class="top-text">
            Expired Date:
          </div>
          <div class="btm-text">
            20 June 2020
          </div>
        </div>
      </div>

      <div class="item-buttons">
        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          Get Update
        </button>

        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          View Details
        </button>
      </div>
    </div>

    <div class="item">
      <div class="item-title">
        License Name Issued: 09 Mei 2019
      </div>

      <div class="item-detail">
        <div class="item-detail-text">
          <div class="top-text">
            Days to Expired:
          </div>
          <div class="btm-text">
            1 Year, 2 Months, 3 Days
          </div>
        </div>

        <div class="item-detail-text">
          <div class="top-text">
            Expired Date:
          </div>
          <div class="btm-text">
            20 June 2020
          </div>
        </div>
      </div>

      <div class="item-buttons">
        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          Get Update
        </button>

        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          View Details
        </button>
      </div>
    </div>

    <div class="item">
      <div class="item-title">
        License Name Issued: 09 Mei 2019
      </div>

      <div class="item-detail">
        <div class="item-detail-text">
          <div class="top-text">
            Days to Expired:
          </div>
          <div class="btm-text">
            1 Year, 2 Months, 3 Days
          </div>
        </div>

        <div class="item-detail-text">
          <div class="top-text">
            Expired Date:
          </div>
          <div class="btm-text">
            20 June 2020
          </div>
        </div>
      </div>

      <div class="item-buttons">
        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          Get Update
        </button>

        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          View Details
        </button>
      </div>
    </div>

    <div class="item">
      <div class="item-title">
        License Name Issued: 09 Mei 2019
      </div>

      <div class="item-detail">
        <div class="item-detail-text">
          <div class="top-text">
            Days to Expired:
          </div>
          <div class="btm-text">
            1 Year, 2 Months, 3 Days
          </div>
        </div>

        <div class="item-detail-text">
          <div class="top-text">
            Expired Date:
          </div>
          <div class="btm-text">
            20 June 2020
          </div>
        </div>
      </div>

      <div class="item-buttons">
        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          Get Update
        </button>

        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          View Details
        </button>
      </div>
    </div>

    <div class="item">
      <div class="item-title">
        License Name Issued: 09 Mei 2019
      </div>

      <div class="item-detail">
        <div class="item-detail-text">
          <div class="top-text">
            Days to Expired:
          </div>
          <div class="btm-text">
            1 Year, 2 Months, 3 Days
          </div>
        </div>

        <div class="item-detail-text">
          <div class="top-text">
            Expired Date:
          </div>
          <div class="btm-text">
            20 June 2020
          </div>
        </div>
      </div>

      <div class="item-buttons">
        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          Get Update
        </button>

        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          View Details
        </button>
      </div>
    </div>

    <div class="item">
      <div class="item-title">
        License Name Issued: 09 Mei 2019
      </div>

      <div class="item-detail">
        <div class="item-detail-text">
          <div class="top-text">
            Days to Expired:
          </div>
          <div class="btm-text">
            1 Year, 2 Months, 3 Days
          </div>
        </div>

        <div class="item-detail-text">
          <div class="top-text">
            Expired Date:
          </div>
          <div class="btm-text">
            20 June 2020
          </div>
        </div>
      </div>

      <div class="item-buttons">
        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          Get Update
        </button>

        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          View Details
        </button>
      </div>
    </div>

    <div class="item">
      <div class="item-title">
        License Name Issued: 09 Mei 2019
      </div>

      <div class="item-detail">
        <div class="item-detail-text">
          <div class="top-text">
            Days to Expired:
          </div>
          <div class="btm-text">
            1 Year, 2 Months, 3 Days
          </div>
        </div>

        <div class="item-detail-text">
          <div class="top-text">
            Expired Date:
          </div>
          <div class="btm-text">
            20 June 2020
          </div>
        </div>
      </div>

      <div class="item-buttons">
        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          Get Update
        </button>

        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          View Details
        </button>
      </div>
    </div>

    <div class="item">
      <div class="item-title">
        License Name Issued: 09 Mei 2019
      </div>

      <div class="item-detail">
        <div class="item-detail-text">
          <div class="top-text">
            Days to Expired:
          </div>
          <div class="btm-text">
            1 Year, 2 Months, 3 Days
          </div>
        </div>

        <div class="item-detail-text">
          <div class="top-text">
            Expired Date:
          </div>
          <div class="btm-text">
            20 June 2020
          </div>
        </div>
      </div>

      <div class="item-buttons">
        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          Get Update
        </button>

        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          View Details
        </button>
      </div>
    </div>

    <div class="item">
      <div class="item-title">
        License Name Issued: 09 Mei 2019
      </div>

      <div class="item-detail">
        <div class="item-detail-text">
          <div class="top-text">
            Days to Expired:
          </div>
          <div class="btm-text">
            1 Year, 2 Months, 3 Days
          </div>
        </div>

        <div class="item-detail-text">
          <div class="top-text">
            Expired Date:
          </div>
          <div class="btm-text">
            20 June 2020
          </div>
        </div>
      </div>

      <div class="item-buttons">
        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          Get Update
        </button>

        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          View Details
        </button>
      </div>
    </div>

    <div class="item">
      <div class="item-title">
        License Name Issued: 09 Mei 2019
      </div>

      <div class="item-detail">
        <div class="item-detail-text">
          <div class="top-text">
            Days to Expired:
          </div>
          <div class="btm-text">
            1 Year, 2 Months, 3 Days
          </div>
        </div>

        <div class="item-detail-text">
          <div class="top-text">
            Expired Date:
          </div>
          <div class="btm-text">
            20 June 2020
          </div>
        </div>
      </div>

      <div class="item-buttons">
        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          Get Update
        </button>

        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          View Details
        </button>
      </div>
    </div>

    <div class="item">
      <div class="item-title">
        License Name Issued: 09 Mei 2019
      </div>

      <div class="item-detail">
        <div class="item-detail-text">
          <div class="top-text">
            Days to Expired:
          </div>
          <div class="btm-text">
            1 Year, 2 Months, 3 Days
          </div>
        </div>

        <div class="item-detail-text">
          <div class="top-text">
            Expired Date:
          </div>
          <div class="btm-text">
            20 June 2020
          </div>
        </div>
      </div>

      <div class="item-buttons">
        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          Get Update
        </button>

        <button type="button" class="btn btn-outline-primary btn-outline-custom">
          View Details
        </button>
      </div>
    </div>

    <button type="button" class="item item-reload button-nostyle">
      <i class="fas fa-sync-alt reload-icon"></i>
      <div class="load-text">Load more...</div>
    </button>
  </div>

</div>
