@import "styling";

.nav-sidebar {
  background: $color-lightblack;
  width: 150px;
  height: 100%;
  color: white;
  position: relative;
  padding-bottom: 50px;

  .nav-box {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 12.5px;
    padding-right: 10px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;

      width: calc(100% - 20px);
      margin-left: 10px;
      border-bottom: 1px solid $color-greyline;
    }

    &:hover,
    &.active-link {
      background: $color-red;
      font-weight: 600;

      &::before {
        border: none;
      }
    }
  }


  .nav-sidebar-footer {
    font-size: 0.7rem;
    position: absolute;
    padding: 0 20px;
    bottom: 20px;
  }
}
