<div class="nav-sidebar">
  <a class="nav-box" routerLink="dashboard" routerLinkActive="active-link">
    Dashboard
  </a>
  <a class="nav-box" routerLink="provisioning" routerLinkActive="active-link">
    Provisioning
  </a>
  <a class="nav-box" routerLink="network-element" routerLinkActive="active-link">
    Network Element
  </a>
  <a class="nav-box" routerLink="license" routerLinkActive="active-link">
    License
  </a>
  <a class="nav-box" routerLink="configuration-data" routerLinkActive="active-link">
    Configuration Data
  </a>
  <a class="nav-box" routerLink="scheduler" routerLinkActive="active-link">
    Scheduler
  </a>
  <a class="nav-box" routerLink="ems-management" routerLinkActive="active-link">
    EMS Management
  </a>
  <a class="nav-box" routerLink="user-management" routerLinkActive="active-link">
    User Management
  </a>

  <div class="nav-sidebar-footer">
    <span>Radio Access Network</span>
    <br>
    <span>Provisioning Gateway | 2019</span>
  </div>
</div>
