@import "styling";

.home {
  width: 100%;
  min-width: 992px;

  .home-content {
    height: 100%;
    min-height: calc(100vh - 65px);
    width: 100%;
    display: flex;
    flex-flow: row;
    background: $color-greybg;


    .content-container {
      padding: 20px;
      padding-bottom: 40px;
      width: 100%;

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    app-content-date {
      width: 100%;
      display: flex;
      margin-bottom: 5px;
    }

    app-dashboard {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
