<div class="home">
  <app-header></app-header>

  <div class="home-content">
    <app-nav-sidebar></app-nav-sidebar>
    <div class="content-container">
      <app-content-date></app-content-date>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
